<li>
	<div class="row">
		<div class="col-md-3">
			{{#if eaten}}
			<button class="btn change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
				Consume
			</button>
			{{else}}
			<button class="btn delete-plate" data-id="{{this.id}}">
				Clear
			</button>
			{{/if}}
		</div>
		<div class="col-md-9 burger-title">
			{{name}}
		</div>
	</div>
</li>